.card {
    width: 150px;
    height: 150px;
}

.playersname {
    font-size: 24px;
    color: darkblue;
    font-family: Verdana;
}

.score {
    font-size: 20px;
    color: blue;
    font-family: Verdana; 
}